#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
. popular languages used for data science
. tools that are used for data science
. common libraries that are used in data science
. code block to display a simple aritmetic expression in python
. code block to convert 200 minutes into hour in python

List of some lanuages that are used in data science
1-Python
2-Julia
3-R
4-SQL
5-JAVA

List of different libraries that are used in Data Science
1- Pandas
2- Numpy
3- Sklearn
4- ggplot
5- matplotlib

Table for data science tools
|Data Science Tools|
|Apache Hadoop     |
|Plotly            |
|TensorFlow        |

# Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Author
Ujjwal Butola